* {
	margin: 0;
	padding:  0;
	font-family: 'Open Sans', sans-serif;
	color: black;
}

html {
	padding: 50px 0;
	background: #e6e6e6;
}

body {
	max-width: 1000px;
	min-height: 100vh;
	margin: 0 auto;
	border: 1px solid grey;
	background: white;
}

header {
	display: flex;
	flex-direction: column;
}

header > div.title {
	display: flex;
}

ul.nav {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

ul.nav > li {
	padding: 10px 15px;
}

ul.nav > li > a{
	text-decoration: none;
	text-transform: uppercase;
}

main {
	display: flex;
	border: 1px solid grey;
}

section {
	margin: 30px 20px;
	padding-bottom: 30px;
	border-bottom: 2px solid #e6e6e6;
}

section:last-child {
	border-bottom: 0;
}

section > h2 {
	margin-bottom: 20px;
	font-size: 16px;
	text-transform: uppercase;
}

section ol,
section ul {
	margin-left: 20px;
}

footer {
	display: flex;
	align-items: center;
	padding: 10px;
	border: 1px solid grey;
}

footer > div {
	margin: 0 5px;
}

footer .my-github {
	flex-grow: 1;
}

footer .rs-link img {
	height: 30px;
}